<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCftPegG8bkXHF1GZtbxIQ60dMmDRoXs6c</string>
	<key>GCM_SENDER_ID</key>
	<string>340842430488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mySchoolApp</string>
	<key>PROJECT_ID</key>
	<string>my-school-app-80805</string>
	<key>STORAGE_BUCKET</key>
	<string>my-school-app-80805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340842430488:ios:f1f90da1be59a1e275436d</string>
</dict>
</plist>